@*New layout*@
@*@model OnlinePharmacy.Models.CartDetails*@
@{
    ViewBag.Title = "Cart";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Revision Platform</title>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/custom-style.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/owl.carousel.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/responsive.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="header-area">
        <!-- Site Header : Starts -->
        <header class="site-header">
            <div class="flex-angle"></div>
            <div class="container">
                <div class="main-navigation">
                    <button class="menu-toggle"><i class="fa fa-bars"></i> Menu</button>
                    <ul class="menu" id="menu">
                        <li class="menu-item current-menu-item"><a class="linksTop1 menuMobile" href="/Exam/FreeTrial/8" target="_blank">FREE TRIAL</a></li>
                        <li class="menu-item"><a class="linksTop2 menuMobile" href="#pricing">PLANS & PRICING</a></li>
                        <li class="menu-item"><a class="linksTop3 menuMobile" href="~/Auth/Login">Login</a></li>
                    </ul>
                </div>
                <div class="mobile-navigation"></div>
            </div>
        </header>
        <div class="container desktop-view">
            <div class="row">
                <div class="col-md-4">
                    <p class="header-section">PASSDEN+</p>
                </div>

                <div class="col-md-8">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a class="linksTop1" href="/Exam/FreeTrial/8" target="_blank">FREE TRIAL</a>
                            </li>

                            <li class="dropdown dropdown-small">
                                <a class="linksTop2" href="#pricing">PLANS & PRICING</a>
                            </li>

                            @*<li class="dropdown dropdown-small">
                                    <a class="linksTop3" href="#contact">CONTACT US</a>
                                </li>*@

                            <li class="dropdown dropdown-small">
                                <a class="dropdown-toggle" href="~/Auth/Login">LOGIN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->


    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo">

                </div>
            </div>

            <div class="modal fade" id="conditionsModalUp" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-ku" style="width:1250px;">
                    <div class="modal-content">
                        <div class="modal-header modal-header-custom">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="ModalTitle">Terms and Conditions for PASSDENT LTD</h4>
                        </div>
                        <div class="modal-body">
                            <h6>Introduction</h6><br />
                            <p class="passContent">
                                These website standard terms and conditions written on this webpage shall manage your use of our website, PASSDENT accessible at www.passdent.com. These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.
                                Minors or people below 18 years old are not allowed to use this Website.
                            </p>
                            <br />

                            <h6>Intellectual Property Rights</h6><br />
                            <p class="passContent">
                                Other than the content you own, under these Terms, PASSDENT LTD and/or its licensors own all the intellectual property rights and materials contained in this Website.<br /><br />
                                You are granted limited license only for purposes of viewing the material contained on this Website.
                            </p>
                            <br />

                            <h6>Restrictions</h6><br />
                            You are specifically restricted from all of the following:<br /><br />
                            <p class="passContent">
                                •	publishing any website material in any other media;<br />
                                •	selling, sublicensing and/or otherwise commercializing any Website material;<br />
                                •	publicly performing and/or showing any Website material;<br />
                                •	using this Website in any way that is or may be damaging to this Website;<br />
                                •	using this Website in any way that impacts user access to this Website;<br />
                                •	using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;<br />
                                •	engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;<br />
                                •	using this Website to engage in any advertising or marketing.<br /><br />

                                Certain areas of this website are restricted from being accessed by you and PASSDENT LTD may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.
                            </p>
                            <br />

                            <h6>Subscription</h6><br />
                            <p class="passContent">
                                The price you pay for PASSDENT is indicated on the website. Subscribers are required to make payments in pounds sterling. If you are paying from a non-UK pound sterling account then your card provider will calculate the exchange rate of your transaction.<br /><br />

                                Please note that if you wish to cancel any subscription that you have purchased after our contract comes into effect, cancellation shall be at our discretion and if accepted may be subject to a cancellation charge. You hereby agree that due to the nature of the service provided by PASSDENT LTD that cancellation or refund of your subscription is not permitted once the service has started.<br /><br />

                                You undertake to us that all the details you give to us while using the website are correct in particular that the credit or debit card you are using is your own and that there are sufficient funds to cover the cost of the service.
                            </p>
                            <br />

                            <h6>Your Content</h6><br />
                            <p class="passContent">
                                In these Website Standard Terms and Conditions, "Your Content" shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant PASSDENT LTD a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.<br /><br />
                                Your Content must be your own and must not be invading any third-party’s rights. PASSDENT LTD reserves the right to remove any of Your Content from this Website at any time without notice.
                            </p>
                            <br />

                            <h6>Your Privacy</h6><br />
                            <p class="passContent">
                                Please read Privacy Policy.
                            </p>
                            <br />

                            <h6>No warranties</h6><br />
                            <p class="passContent">
                                This Website is provided "as is," with all faults, and PASSDENT LTD express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.
                            </p>
                            <br />

                            <h6>Limitation of liability</h6><br />
                            <p class="passContent">
                                In no event shall PASSDENT LTD, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.  PASSDENT LTD, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this website.
                            </p>
                            <br />

                            <h6>Indemnification</h6><br />
                            <p class="passContent">
                                You hereby indemnify to the fullest extent PASSDENT LTD from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.
                            </p>
                            <br />

                            <h6>Severability</h6><br />
                            <p class="passContent">
                                If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.
                            </p>
                            <br />

                            <h6>Variation of Terms</h6><br />
                            <p class="passContent">
                                PASSDENT LTD is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.
                            </p>
                            <br />

                            <h6>Assignment</h6><br />
                            <p class="passContent">
                                The PASSDENT LTD is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
                            </p>
                            <br />

                            <h6>Entire Agreement</h6><br />
                            <p class="passContent">
                                These Terms constitute the entire agreement between PASSDENT LTD and you in relation to your use of this Website, and supersede all prior agreements and understandings.
                            </p>
                            <br />

                            <h6>Governing Law & Jurisdiction</h6><br />
                            <p class="passContent">
                                These Terms will be governed by and interpreted in accordance with the laws of the State of GB, and you submit to the non-exclusive jurisdiction of the state and federal courts located in GB for the resolution of any disputes.
                            </p>
                            <br />
                        </div>
                        <div class="modal-footer">
                            <div class="wrapper">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="privacyModalUp" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-ku" style="width:1250px;">
                    <div class="modal-content">
                        <div class="modal-header modal-header-custom">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="ModalTitle">Privacy Policy of PASSDENT LTD</h4><br />
                            <span>
                                PASSDENT LTD operates the www.passdent.com website, which provides the SERVICE.<br /><br />
                                This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the PASSDENT website.<br /><br />
                                If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that we collect are used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.<br /><br />
                                The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at www.passdent.com, unless otherwise defined in this Privacy Policy.
                            </span>
                        </div>
                        <div class="modal-body">
                            <h6>Information Collection and Use</h6><br />
                            <p class="passContent">
                                For a better experience while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to your name, phone number, and postal address. The information that we collect will be used to contact or identify you.
                            </p>
                            <br />

                            <h6>Log Data</h6><br />
                            <p class="passContent">
                                We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer’s Internet Protocol ("IP") address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
                            </p>
                            <br />

                            <h6>Cookies</h6><br />
                            <p class="passContent">
                                Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.<br /><br />

                                Our website uses these "cookies" to collection information and to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.
                                For more general information on cookies, please read "What Are Cookies".

                            </p>
                            <br />

                            <h6>Service Providers</h6><br />
                            We may employ third-party companies and individuals due to the following reasons:<br /><br />
                            <p class="passContent">
                                •	To facilitate our Service;<br />
                                •	To provide the Service on our behalf;<br />
                                •	To perform Service-related services; or<br />
                                •	To assist us in analysing how our Service is used.<br /><br />

                                We want to inform our Service users that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
                            </p>
                            <br />

                            <h6>Security</h6><br />
                            <p class="passContent">
                                We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
                            </p>
                            <br />

                            <h6>Links to Other Sites</h6><br />
                            <p class="passContent">
                                Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
                            </p>
                            <br />

                            <h6>Children's Privacy</h6><br />
                            <p class="passContent">
                                Our Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.
                            </p>
                            <br />

                            <h6>Changes to This Privacy Policy</h6><br />
                            <p class="passContent">
                                We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.
                            </p>
                            <br />

                            <h6>Contact Us</h6><br />
                            <p class="passContent">
                                If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.
                            </p>
                            <br />

                        </div>
                        <div class="modal-footer">
                            <div class="wrapper">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hideThisSection">
                <div class="col-sm-6">
                    <div class="spacing">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content - Starts -->
    @RenderBody()
    <!-- Main content - Ends -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; ALL RIGHTS RESERVED | PASSDENT 2020</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="conditions">
                        <p><a href="#" class="terms-condition">Terms & Conditions</a> | <a href="#" class="privacy">Privacy Policy</a> | Email us - <a href="mailto:support@passdent.com">Passdent</a> </p>
                    </div>
                </div>

                @*<div class="col-md-4">
                        <div class="footer-card-icon">
                            <i class="fa fa-cc-discover"></i>
                            <i class="fa fa-cc-mastercard"></i>
                            <i class="fa fa-cc-paypal"></i>
                            <i class="fa fa-cc-visa"></i>
                        </div>
                    </div>*@
            </div>
        </div>
    </div> <!-- End footer bottom area -->

    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <!-- Bootstrap JS form CDN -->
    @*<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

        <!-- jQuery sticky menu -->
        <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
        <script src="@Url.Content("~/js/jquery.sticky.js")"></script>

        <!-- jQuery easing -->
        <script src="@Url.Content("~/js/jquery.easing.1.3.min.js")"></script>

        <!-- Main Script -->
        <script src="@Url.Content("~/js/main.js")"></script>

        <!-- Slider -->
        <script src="@Url.Content("~/js/bxslider.min.js")"></script>
        <script src="@Url.Content("~/js/script.slider.js")"></script>

        @RenderSection("scripts", required: false)
        <script src="~/Scripts/Scripts.js"></script>*@
</body>
</html>

<script>
    $(document).ready(function () {
        debugger;

        $(".terms-condition").click(function () {
            var options = { "backdrop": "static", keyboard: true };
            $('#conditionsModalUp').modal('show');
        });

        $(".privacy").click(function () {
            var options = { "backdrop": "static", keyboard: true };
            $('#privacyModalUp').modal('show');
        });

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });
</script>