@model List<OnlineRevision.DbContext.QuestionDetails>
@{
    ViewBag.Title = "Student Details";
}

<style>
    #userDetails, .details {
        font-size: 100%;
    }

    table th {
        text-align: center;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: 0 !important;
    }

    .box.box-primary {
        border-top-color: #3c8dbc !important;
    }

    .subsDetails {
        font-weight: bold;
    }

    div.dom_wrapper {
        position: sticky; /* Fix to the top */
        top: 0;
        padding: 5px;
        background: rgba(255, 255, 255, 1); /* hide the scrolling table */
    }

    .tableHeader thead th {
        position: sticky;
        top: 0;
    }

    /* Just common table stuff. Really. */
    .tableHeader table {
        border-collapse: collapse;
        width: 100%;
    }

    .tableHeader th, td {
        padding: 8px 16px;
    }

    .selected {
        background-color: #666;
        color: #fff;
    }

    .quesSetId, .quesId {
        display:none;
    }
</style>

@foreach (var val in Model)
{
    <a href="#" id="QuesDetails" class="btn btn-github mainAnchorQuestions" data-id="@val.aQuestionId" data-setId="@val.aQuestionSetId">Back To Questions</a>

    <h4>@val.aQuestion</h4>
    <p class="quesSetId">@val.aQuestionSetId</p>
    <p class="quesId">@val.aQuestionId</p>

    <h3>Answers</h3>

    foreach (var item in val.aAnswer)
    {
        <input type="text" class="txtAnswers form-control" name="txtAnswers" id="@item.Id" value="@item.QuestionAnswers" /><br />
    }

    <h3>Options</h3>

    foreach (var item in val.aOption)
    {
        <input type="text" class="txtOptions form-control" name="txtOptions" id="@item.Id" value="@item.Options" /><br />
    }

    <h3>Explanation</h3>

    foreach (var item in val.aExplanation)
    {
        <input type="text" class="txtExplanation form-control" name="editor1" id="editor1" data-id="@item.Id" value="@item.Details" /><br />
    }
}
<br />

<a id="updateAnswers" class="btn btn-primary">Update</a>

<script src="~/ckeditor/ckeditor.js"></script>
<script>
    //Initialize CKEditor by giving id of text area
    CKEDITOR.replace('editor1');

    //Get each instance of CKEditor
    for (instance in CKEDITOR.instances) {
        //update element
        CKEDITOR.instances[instance].updateElement();
    }

    //Set CKEditor value using jQuery
    CKEDITOR.instances['editor1'].setData($("#editor1").val());

    $('.mainAnchorQuestions').click(function () {
        var id = $(this).attr("id");
        var setId = $(this).attr("data-setId");

        $("#result").html("Loading ......");
        $("#result").load('@Url.Action("LoadStudentPartialView", "Dashboard")', { passVal: id, id: setId });
    });

    $('#updateAnswers').click(function () {
        var arrAnswers = $("input[name='txtAnswers']").map(function () {
            return this.id + "~" + this.value;
        }).get();

        var arrOptions = $("input[name='txtOptions']").map(function () {
            return this.id + "~" + this.value;
        }).get();

        var arrExplanations = $("input[name='editor1']").map(function () {
            return this.value;
        }).get();

        var quesSetId = $(".quesSetId").text();
        var quesId = $(".quesId").text();

        alert(quesSetId + " " + quesId + " " + arrAnswers.join('_') + " " + arrOptions.join('_') + " " + arrExplanations);

        var answers = $("input[name='txtAnswers']").val();
        var options = $("input[name='txtOptions']").val();
        var explanation = CKEDITOR.instances.editor1.getData();

        if (answers == null || answers == "") {
            alert("Please! Provide answers.");
        } else if (options == null || options == "") {
            alert("Please! Provide options.");
        } else if (explanation == null || explanation == "") {
            alert("Please! Provide explanation.");
        } else {
            $.ajax({
                url: "/Dashboard/UpdateQuestionDetails",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ questionSetId: quesSetId, questionId: quesId, answers: arrAnswers.join('_'), options: arrOptions.join('_'), explanation: explanation }),
                success: function (response) {
                    if (response.value != "") {
                        alert(response.value);
                    } else {
                        alert("Failed!");
                    }
                },
                error: function (er) {
                    //alert(er);
                }
            });
        }
    });
</script>




